body {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 0px;
    overflow-x:hidden; 
}
header {
    background: linear-gradient(to right,white, rgb(218, 215, 215), white);
    color: rgb(211, 177, 28);
    padding: 10px;
    font-size: 16pt;
}
main {
    margin: 10px 20px;
    margin-bottom: 60px;
}
footer {
    background: linear-gradient(to right,white, rgb(218, 215, 215), white);
    color: rgb(211, 177, 28);
    padding: 10px;
    font-size: 16pt;
    text-align: right;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
a:hover {
    color: rgb(0, 0, 0);
    text-shadow: 3px 5px 2px rgb(255, 255, 255);
    transition: 0.3s;
}
.menu {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
    margin-top: 70px;
    font-size: 22px;
    text-align: center;
}
.menu a {
    font-family: sans-serif;
    display: inline-block;
    padding: 10px 20px;
    border-bottom: 3px solid #686868;
    color:rgb(0, 0, 0);
    text-decoration: none;
}
.menu li {
    display: inline;
    margin-right: -6px;
}
.zagolov {
    text-align: left;
    text-indent: 100px;
    margin-top: 0px;
}
